.Home {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 145, 72);
    flex-direction: column;
    align-items: center;
    
}

.ScrollList {
    display: flex;
    width: 100%;
    
    background-color: rgb(255, 145, 72);
    flex-direction: column;
    z-index: 1;
    justify-content: center;
    flex-direction: row;
}



#style-3::-webkit-scrollbar
{
	width: 5px;
  
}

#style-3::-webkit-scrollbar-thumb
{
    background-color: #292929c4;
    border-radius: 100px;

}

#spanNumber{
    display: flex;
    background-color: rgb(82, 82, 82);
    color: white;
    width: 20px;
    border-radius: 30px;
    text-align: center;
    transform: translateX(-9px)
}

.BoxA{
    width:40%;
    height: 40vh;
    margin-left: 10px;
    overflow-y: scroll;
}
.BoxA p {
    background-color: white;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    text-align: left;
    box-shadow: #00000063 1px 1px 5px;
    overflow: hidden;
}
.VideoBox{
    display: flex;
    width: 50%;
   padding-bottom: 1%;
    background-color: #f1f3f4;
    z-index: 2;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: #00000063 1px 1px 5px;
    flex-direction: column;
    align-items: center;

 
}

.PlaybackRate{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    width: 100%;
    justify-content: center;
   
}
#index{
  transform: translateX(-100px)
}
#plus {
    display: flex;
    color: white;
    width: 30px;
    background-color: rgb(47, 47, 47);
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    
}
#Fullsc{
    background-color:  rgb(47, 47, 47);
    color: white;
    border-radius: 30px;
    padding-left: 2%; 
    padding-right: 2%; 
    transform: translateX(100px);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none;
    cursor: pointer;
}
#minus{
    display: flex;
    color: white;
    width: 30px;
    background-color: rgb(47, 47, 47);
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
}

#textPback{
    color: gray;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none;
}


@media screen and (max-width: 600px) {

    .PlaybackRate{
        font-size: 1em;
        width:100%;
    }
    #index{
        transform: translateX(-30px)
      }
    #Fullsc{
        border-radius: 10px;
        height: 30px;
        padding-left: 3%; 
        padding-right: 3%; 
        transform: translateX(30px);
    }
    #minus{
      
        width: 50px;
      
    }
    #plus{
        width: 50px;
    }
    .VideoBox{
      
        width: 90%;

    }
    .BoxA{
        width:90%;
   
    }
    
}
